<div class="row">
  <div class="span12 application">

    <%= mainTitle "Obras", "Ver todas as obras", services_path %>

    <%= @service.title %>
    <%= @service.location %>
    <%= distance_of_time_in_words Time.now, @service.updated_at %>

    <div class="image"><div class="back"><%= image_tag @service.image.url(:medium) %></div></div>
    <% for asset in @service.asset_for_services %>
        <%= link_to(image_tag(asset.image.url(:thumb)),asset.image.url(:large)) %>
    <% end %>
  </div>
</div>