    </div>
</div>

<div class="promotions">

  <div class="row">
    <div class="span12 application">

      <script>
        $(function(){
          $('#slides').slides({
            generateNextPrev: true,
            pagination: false,
            generatePagination: false,
            preload: true,
            preloadImage: 'img/loading.gif',
            play: 5000,
            pause: 5000,
            hoverPause: true
          });
        });
      </script>

      <div id="slides">
        <ul class="slides_container">
          <% @promotions.each do |promotion|%>
            <li>
              <div class="image"><%= image_tag promotion.image%></div>
              <div class="details">
                <div class="title"><%= promotion.title %></div>
                <div class="prices">
                  De <%= number_to_currency(promotion.price_from) %> 
                  por <%= number_to_currency(promotion.price_to) %>
                </div>
                <div class="expiration_date">Promoção válida até <%= I18n.l(promotion.expiration_date) %></div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

</div>

<div class="row">
    <div class="span12 application">