    </div>
</div>

<div class="promotions">

  <div class="row">
    <div class="span12 application">

      <script>
        $(function(){
          $('#slides').slides({
            generateNextPrev: true,
            pagination: false,
            generatePagination: false,
            preload: true,
            preloadImage: 'img/loading.gif',
            play: 7000,
            slideSpeed: 500,
            hoverPause: true
          });
        });
      </script>
 
      <div id="slides">
        <ul class="slides_container">
          <% @promotions.each do |promotion|%>
            <li>

              <div class="image"><div class="back"><%= image_tag promotion.image%></div></div>

              <div class="desc">
                <div class="title"><%= promotion.title %></div>
                
                  De <span class="price" style="margin-right: 10px;"><%= number_to_currency(promotion.price_from) %> </span>
                  por <span class="price"><%= number_to_currency(promotion.price_to) %> </span>
                
                <span class="expiration_date">Promoção válida até <%= I18n.l(promotion.expiration_date) %></span>
              </div>

            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

</div>

<div class="row">
    <div class="span12 application">